body {
font-family: "Roboto", sans-serif;
background: #fff;
color: #434455
}

ul, ol {
    
    list-style-type: none;
}
a {
    text-decoration: none;
}

.logo {
font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}




.header-logo .logo-part {
        color: #2e2f42;
}

.footer-logo .logo-part {
        color: #f4f4fd;
}


.link-header {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.contacts-link:focus,
.contacts-link :hover,
.link-header :hover,
.link-header :focus {
    color: #404bbf;
}


.contacts {
    font-style: normal;
}

.contacts-link{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455
}

.contacts-link :hover, :focus {
    color: #404bbf;
}


.main-menu {
        font-weight: 500;
        font-size: 16px;
         line-height: 24px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #2e2f42;
}



.adress-item {
        font-size: 16px;
        line-height: 24px;
        line-height: 150%;
        letter-spacing: 0.02em;
}

.title-main {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        
}
.button{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        
}

.batton ;:hover 
.batton :active {
        color: #fff;
        cursor: pointer;

}

.titel-style {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.text-style {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.our-team {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}






.name-item {
                font-weight: 500;
                font-size: 20px;
                line-height: 1.2;
                letter-spacing: 0.02em;
                text-align: center;
                color: #2e2f42;
}

.professi-item {
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
                text-align: center;
}

.rights-item {
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
                color: #f4f4fd;
}

.page-footer {
        background: #2e2f42
}

